In [1]:
import pickle
import numpy as np
import os
import pandas as pd

In [2]:
with open(os.path.join('../datasets/NWPU-Captions/NWPU_Graphs/train', 'graphs.pkl'), 'rb') as f:
    train_adjs = pickle.load(f)
with open(os.path.join('../datasets/NWPU-Captions/NWPU_Graphs/train', 'properties.pkl'), 'rb') as f:
    train_properties = pickle.load(f)
with open(os.path.join('../datasets/NWPU-Captions/NWPU_Graphs/train', 'descriptions.pkl'), 'rb') as f:
    train_desc = pickle.load(f)

with open(os.path.join('../datasets/NWPU-Captions/NWPU_Graphs/test', 'graphs.pkl'), 'rb') as f:
    test_adjs = pickle.load(f)
with open(os.path.join('../datasets/NWPU-Captions/NWPU_Graphs/test', 'properties.pkl'), 'rb') as f:
    test_properties = pickle.load(f)
with open(os.path.join('../datasets/NWPU-Captions/NWPU_Graphs/test', 'descriptions.pkl'), 'rb') as f:
    test_desc = pickle.load(f)

with open(os.path.join('../datasets/NWPU-Captions/NWPU_Graphs/val', 'graphs.pkl'), 'rb') as f:
    val_adjs = pickle.load(f)
with open(os.path.join('../datasets/NWPU-Captions/NWPU_Graphs/val', 'properties.pkl'), 'rb') as f:
    val_properties = pickle.load(f)
with open(os.path.join('../datasets/NWPU-Captions/NWPU_Graphs/val', 'descriptions.pkl'), 'rb') as f:
    val_desc = pickle.load(f)

In [4]:
pd.DataFrame(val_properties)

        n      m  max_diameter  cc_num  max_deg  min_deg  cycle
0      82  222.0             6       1     34.0      1.0   True
1      82  222.0             6       1     34.0      1.0   True
2      82  222.0             6       1     34.0      1.0   True
3      82  222.0             6       1     34.0      1.0   True
4      82  222.0             6       1     34.0      1.0   True
...    ..    ...           ...     ...      ...      ...    ...
15745   9    8.0             3       1      7.0      1.0  False
15746   9    8.0             3       1      7.0      1.0  False
15747   9    8.0             3       1      7.0      1.0  False
15748   9    8.0             3       1      7.0      1.0  False
15749   9    8.0             3       1      7.0      1.0  False

[15750 rows x 7 columns]